// Navigation Styles here



header {


    border-bottom: 1px gray dashed;

    .head {
        padding: 2rem 0;
        max-width: 800px;
        display: flex;
        align-items: center;
        margin: 0 auto;

        @media @mobile {
            flex-direction: column;
            justify-content: space-between;
          }



        .col1 {
            width: 50%;

            @media @mobile {
                width: 100%;
              }
        }

        .col2 {
            width: 50%;
            @media @mobile {
                width: 100%;
              }
        
            nav {
                float: right;

                @media @mobile {
                    
                }
    
                a {
                    color: inherit;
                    text-decoration: none;
                    padding: 1rem;
                }
                
            }
        }

    }   
}